  <h1>Hi!</h1>
  <p class="lead">
    This is a simple CRUD app where you can add / edit / delete courses. Courses saved are associated with 
    only your account, and only you can view / edit them. Here is a screenshot of the interface:
  </p>
  <br>
  <div class="mb-3">
    <%= image_tag('courses-app-table-sample.png', class: "img-thumbnail img-fluid border-dark") %>
  </div>
  <br>
  <p class="lead">Create an account to get started!</p>